# Ambiente virtual
venv/

# Banco SQLite
db.sqlite3

# Variáveis de ambiente
.env

# Cache do Python
__pycache__/
*.pyc

# Arquivos de mídia enviados pelos usuários
media/

# Arquivos estáticos coletados
staticfiles/

# Configurações da IDE
.vscode/
.idea/

# Logs
*.log