<div class="mb-4">

    <div class="btn-group" role="group">

        <a href="{% url 'customer_documents:dashboard_documentos' %}"
           class="btn btn-outline-primary">

            🏠 Início

        </a>


        <a href="{% url 'customer_documents:enviar_documento' %}"
           class="btn btn-outline-primary">

            📄 Enviar Documento

        </a>

        <a href="{% url 'customer_documents:meus_documentos' %}"
            class="btn btn-outline-primary">

            📁 Meus Documentos

        </a>

    </div>

</div>