<div class="col-md-3 col-lg-2 bg-dark text-white min-vh-100 p-3">

    <h5 class="mb-4 text-white">Menu</h5>

    <ul class="nav flex-column">

        <!-- Conta -->
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="{% url 'conta' %}">
                🏦 Conta
            </a>
        </li>

        <!-- Dados pessoais -->
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="{% url 'meus_dados' %}">
                👤 Meus Dados
            </a>
        </li>

        <!-- Documentos -->
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="#">
                📄 Documentos
            </a>
        </li>

        <!-- Loja Online -->
        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="#">
                🛒 Loja Online
            </a>
        </li>

    </ul>

</div>